@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@font-face {
  font-family: "MuseoSansCyrl700";
  src: url("./fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot");
  src: url("./fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot?#iefix") format("embedded-opentype"), url("./fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff") format("woff"), url("./fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
html {
  height: 100%;
}

body {
  background: url(./img/wallper.png) no-repeat top center;
  background-color: #000000;
  height: 100%;
  font-family: "helvetica";
  font-size: 16px;
  line-height: 22px;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #ffffff;
}

.container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 885px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 481px) {
  .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 481px) {
  .container__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0%;
  }
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-style: normal;
  letter-spacing: 1px;
  color: #000000;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  font-size: 58px;
  line-height: 90px;
}
@media screen and (max-width: 885px) {
  h1 {
    font-size: 52px;
    line-height: 65px;
  }
}
@media screen and (max-width: 481px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

h2 {
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
}
@media screen and (max-width: 885px) {
  h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media screen and (max-width: 481px) {
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
}

input {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  border: 1px solid #3D3D3D;
}
@media screen and (max-width: 885px) {
  header {
    border: none;
  }
}

.logo {
  max-width: 316px;
  max-height: 100px;
  border: 1px solid #3D3D3D;
  position: relative;
}
@media screen and (max-width: 481px) {
  .logo {
    max-width: 260px;
    max-height: auto;
  }
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 481px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__item {
  margin-bottom: 20px;
  margin-right: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}
.navbar__item:hover {
  color: #3D3D3D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar__item:hover::after {
  color: #3D3D3D;
  width: 100%;
}
.navbar__item:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 1px;
  background-color: #3D3D3D;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.hero__title {
  height: 160px;
  padding-top: 90px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(100%, rgb(255, 63, 4)), to(rgb(0, 0, 0)));
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 63, 4) 100%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
@media screen and (max-width: 885px) {
  .hero__title {
    padding-top: 30px;
    height: auto;
  }
}

.hero__subtitle {
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(100%, rgb(255, 63, 4)), to(rgb(0, 0, 0)));
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 63, 4) 100%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  margin-bottom: 80px;
}
@media screen and (max-width: 885px) {
  .hero__subtitle {
    margin-bottom: 20px;
  }
}

.hero__benefits {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
@media screen and (max-width: 885px) {
  .hero__benefits {
    width: 320px;
    margin-top: 20px;
  }
}

.hero__benefits-item {
  margin: 5px;
  width: 180px;
  height: 180px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2px;
}
@media screen and (max-width: 885px) {
  .hero__benefits-item {
    width: 150px;
    height: 150px;
  }
}
.hero__benefits-item:nth-child(1) {
  -webkit-box-shadow: -64px -64px 54px -72px rgba(248, 249, 249, 0.6) inset;
          box-shadow: -64px -64px 54px -72px rgba(248, 249, 249, 0.6) inset;
}
.hero__benefits-item:nth-child(1):hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: -64px -64px 100px -72px rgba(248, 249, 249, 0.6) inset;
          box-shadow: -64px -64px 100px -72px rgba(248, 249, 249, 0.6) inset;
}
.hero__benefits-item:nth-child(2) {
  -webkit-box-shadow: 64px -64px 54px -72px rgba(248, 249, 249, 0.6) inset;
          box-shadow: 64px -64px 54px -72px rgba(248, 249, 249, 0.6) inset;
}
.hero__benefits-item:nth-child(2):hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 64px -64px 100px -72px rgba(248, 249, 249, 0.6) inset;
          box-shadow: 64px -64px 100px -72px rgba(248, 249, 249, 0.6) inset;
}
.hero__benefits-item:nth-child(3) {
  -webkit-box-shadow: -64px 64px 54px -72px rgba(248, 249, 249, 0.6) inset;
          box-shadow: -64px 64px 54px -72px rgba(248, 249, 249, 0.6) inset;
}
.hero__benefits-item:nth-child(3):hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: -64px 64px 100px -72px rgba(248, 249, 249, 0.6) inset;
          box-shadow: -64px 64px 100px -72px rgba(248, 249, 249, 0.6) inset;
}
.hero__benefits-item:nth-child(4) {
  -webkit-box-shadow: 64px 64px 54px -72px rgba(248, 249, 249, 0.6) inset;
          box-shadow: 64px 64px 54px -72px rgba(248, 249, 249, 0.6) inset;
}
.hero__benefits-item:nth-child(4):hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 64px 64px 100px -72px rgba(248, 249, 249, 0.6) inset;
          box-shadow: 64px 64px 100px -72px rgba(248, 249, 249, 0.6) inset;
}

.hero__benefits-desc--top,
.hero__benefits-desc--bottom {
  font-size: 18px;
  color: #fafafa;
}

.hero__benefits-desc--top {
  padding-top: 20px;
}

.hero__benefits-desc--middle {
  font-size: 60px;
  color: #fafafa;
  padding-top: 40px;
}

.hero__benefits-desc--bottom {
  padding-top: 15px;
}

.hero__btn {
  width: 180px;
  height: 32px;
  border: 2px solid #3D3D3D;
}

.btn__name {
  font-size: 14px;
  text-align: center;
}

.menu-burger__header {
  display: none;
}
@media screen and (max-width: 481px) {
  .menu-burger__header {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20;
  }
}
.menu-burger__header::before {
  content: "";
  top: 10px;
}
.menu-burger__header::after {
  content: "";
  width: 19px;
  bottom: 10px;
}

.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
  height: 3px;
  width: 24px;
  position: absolute;
  background: #3D3D3D;
  margin: 0 auto;
}

.menu-burger__header.open-menu span {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 20;
  margin-left: 0px;
}

.menu-burger__header.open-menu::before {
  -webkit-transform: rotate(495deg);
          transform: rotate(495deg);
  top: 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #ffffff;
  z-index: 20;
}
.menu-burger__header.open-menu::after {
  -webkit-transform: rotate(-495deg);
          transform: rotate(-495deg);
  bottom: 28px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #ffffff;
  z-index: 20;
  width: 24px;
}